Repository kcl-lang/kcl-go, pull requests merged in 2023-08, with the labels that each got.

#128 feat: sync kcl api and bump package path and go version
  .github/workflows/main_darwin.yml
  .github/workflows/main_linux.yml
  .github/workflows/main_windows.yml
  Dockerfile
  Makefile
  pkg/kcl/opt.go
  pkg/spec/gpyrpc/Makefile
  pkg/spec/gpyrpc/gpyrpc.pb.go
  pkg/spec/gpyrpc/gpyrpc.proto
  pkg/tools/list/dep_parser_windows_test.go
  testdata/app0/main.k
Labels: api

#126 tools: add doc generate command
  .gitignore
  cmds/kcl-go/command/cmd_doc.go
  go.mod
  go.sum
  pkg/tools/doc/doc_test.go
  pkg/tools/doc/kdoc.go
  pkg/tools/doc/templates/schema.gotmpl
Labels: tool

#131 feat: support more keywords when generating from json schema
  pkg/tools/gen/genkcl_jsonschema.go
  pkg/tools/gen/template.go
  pkg/tools/gen/templates/schema.gotmpl
  pkg/tools/gen/testdata/jsonschema/additional/expect.k
  pkg/tools/gen/testdata/jsonschema/additional/input.json
  pkg/tools/gen/testdata/jsonschema/const/expect.k
  pkg/tools/gen/testdata/jsonschema/const/input.json
  pkg/tools/gen/testdata/jsonschema/ref/expect.k
  pkg/tools/gen/testdata/jsonschema/ref/input.json
  pkg/tools/gen/types.go
  pkg/tools/gen/utils.go
Labels: tool

#132 feat: support more validation rules when generating from json schema
  pkg/tools/gen/genkcl_jsonschema.go
  pkg/tools/gen/templates/validator.gotmpl
  pkg/tools/gen/testdata/jsonschema/items/expect.k
  pkg/tools/gen/testdata/jsonschema/items/input.json
  pkg/tools/gen/testdata/jsonschema/multipleof/expect.k
  pkg/tools/gen/testdata/jsonschema/multipleof/input.json
  pkg/tools/gen/testdata/jsonschema/pattern/expect.k
  pkg/tools/gen/testdata/jsonschema/pattern/input.json
  pkg/tools/gen/types.go
Labels: tool

#135 feat: enhance generation of kcl schema from json schema
  pkg/tools/gen/genkcl_jsonschema.go
  pkg/tools/gen/template.go
  pkg/tools/gen/testdata/jsonschema/basic/expect.k
  pkg/tools/gen/testdata/jsonschema/basic/input.json
  pkg/tools/gen/testdata/jsonschema/unsupport/expect.k
  pkg/tools/gen/testdata/jsonschema/unsupport/input.json
Labels: tool

#134 doc: support openapi representation
  .gitignore
  cmds/kcl-go/command/cmd_doc.go
  pkg/tools/doc/doc_test.go
  pkg/tools/doc/templates/schema.gotmpl
  pkg/tools/gen/gendoc.go
  pkg/tools/gen/gendoc_test.go
  pkg/tools/gen/gengo.go
  pkg/tools/gen/genopenapi.go
  pkg/tools/gen/genpb.go
  pkg/tools/gen/template.go
  pkg/tools/gen/templates/doc/schemaDoc.gotmpl
  pkg/tools/gen/templates/kcl/document.gotmpl
  pkg/tools/gen/templates/kcl/header.gotmpl
  pkg/tools/gen/templates/kcl/schema.gotmpl
  pkg/tools/gen/templates/kcl/validator.gotmpl
  pkg/tools/gen/testdata/doc/k8s/deployment.k
  pkg/tools/gen/testdata/doc/kcl.mod
  pkg/tools/gen/testdata/doc/pkg/container.k
  pkg/tools/gen/testdata/doc/pkg/server.k
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/Container.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/Server.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/k8s/deployment/Deployment.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/Container.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/Server.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/k8s/deployment/Deployment.md
  pkg/tools/gen/types.go
  pkg/tools/list/dep_parser.go
Labels: tool

#136 feat: sync kcl v0.5.4 APIs and update test cases.
  go.mod
  go.sum
  kclvm.go
  kclvm_test.go
  pkg/kcl/opt.go
  pkg/spec/gpyrpc/gpyrpc.pb.go
  pkg/spec/gpyrpc/gpyrpc.proto
  pkg/tools/format/format_test.go
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/Server.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/Server.md
  scripts/kclvm.go
Labels: api

#137 support generate package index page
  pkg/tools/gen/gendoc.go
  pkg/tools/gen/gendoc_test.go
  pkg/tools/gen/genopenapi.go
  pkg/tools/gen/templates/doc/packageDoc.gotmpl
  pkg/tools/gen/templates/doc/schemaDoc.gotmpl
  pkg/tools/gen/testdata/doc/k8s/deployment.k
  pkg/tools/gen/testdata/doc/pkg/server.k
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/Server.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/index.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/k8s/Deployment.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/k8s/index.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/Server.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/index.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/k8s/Deployment.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/k8s/index.md
  pkg/tools/gen/testdata/doc/reimport/a.k
  pkg/tools/gen/testdata/doc/reimport/b.k
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/A.md
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/B.md
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/index.md
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/k8s/Deployment.md
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/k8s/index.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/A.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/B.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/index.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/k8s/Deployment.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/k8s/index.md
  pkg/tools/gen/types.go
Labels: tool

#140 add auto-generated warning in generated docs; update unit test
  pkg/tools/gen/gendoc_test.go
  pkg/tools/gen/templates/doc/packageDoc.gotmpl
  pkg/tools/gen/templates/doc/schemaDoc.gotmpl
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/Container.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/Server.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/index.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/k8s/Deployment.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/k8s/index.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/Container.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/Server.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/index.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/k8s/Deployment.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/k8s/index.md
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/A.md
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/B.md
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/index.md
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/k8s/Deployment.md
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/k8s/index.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/A.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/B.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/index.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/k8s/Deployment.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/k8s/index.md
Labels: tool

#142 doc gen: migrate from kcl-go.getSchemaTypeMapping API to kpm.GetKclPackage API
  cmds/kcl-go/command/cmd_doc.go
  go.mod
  go.sum
  pkg/tools/gen/gendoc.go
  pkg/tools/gen/gendoc_test.go
  pkg/tools/gen/genopenapi.go
  pkg/tools/gen/testdata/doc/k8s/apps/deployment.k
  pkg/tools/gen/testdata/doc/k8s/core/podSpec.k
  pkg/tools/gen/testdata/doc/k8s/kcl.mod
  pkg/tools/gen/testdata/doc/k8s/unixlike/md/apps/Deployment.md
  pkg/tools/gen/testdata/doc/k8s/unixlike/md/apps/index.md
  pkg/tools/gen/testdata/doc/k8s/unixlike/md/core/PodSpec.md
  pkg/tools/gen/testdata/doc/k8s/unixlike/md/core/index.md
  pkg/tools/gen/testdata/doc/k8s/windows/md/apps/Deployment.md
  pkg/tools/gen/testdata/doc/k8s/windows/md/apps/index.md
  pkg/tools/gen/testdata/doc/k8s/windows/md/core/PodSpec.md
  pkg/tools/gen/testdata/doc/k8s/windows/md/core/index.md
  pkg/tools/gen/testdata/doc/kcl.mod
  pkg/tools/gen/testdata/doc/pkg/k8s/core/podSpec.k
  pkg/tools/gen/testdata/doc/pkg/k8s/deployment.k
  pkg/tools/gen/testdata/doc/pkg/kcl.mod
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/k8s/core/PodSpec.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/k8s/core/index.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/k8s/Deployment.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/k8s/core/PodSpec.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/k8s/core/index.md
  pkg/tools/gen/testdata/doc/reimport/k8s/deployment.k
  pkg/tools/gen/testdata/doc/reimport/kcl.mod
Labels: tool

#143 enhance doc gen tool: update package index page
  pkg/tools/gen/gendoc.go
  pkg/tools/gen/gendoc_test.go
  pkg/tools/gen/genopenapi.go
  pkg/tools/gen/templates/doc/packageDoc.gotmpl
  pkg/tools/gen/templates/doc/schemaDoc.gotmpl
  pkg/tools/gen/testdata/doc/k8s/unixlike/md/apps/Deployment.md
  pkg/tools/gen/testdata/doc/k8s/unixlike/md/apps/index.md
  pkg/tools/gen/testdata/doc/k8s/unixlike/md/core/PodSpec.md
  pkg/tools/gen/testdata/doc/k8s/unixlike/md/core/index.md
  pkg/tools/gen/testdata/doc/k8s/unixlike/md/index.md
  pkg/tools/gen/testdata/doc/k8s/windows/md/apps/Deployment.md
  pkg/tools/gen/testdata/doc/k8s/windows/md/apps/index.md
  pkg/tools/gen/testdata/doc/k8s/windows/md/core/PodSpec.md
  pkg/tools/gen/testdata/doc/k8s/windows/md/core/index.md
  pkg/tools/gen/testdata/doc/k8s/windows/md/index.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/Container.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/Server.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/index.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/k8s/Deployment.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/k8s/core/PodSpec.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/k8s/core/index.md
  pkg/tools/gen/testdata/doc/pkg/unixlike/md/k8s/index.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/Container.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/Server.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/index.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/k8s/Deployment.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/k8s/core/PodSpec.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/k8s/core/index.md
  pkg/tools/gen/testdata/doc/pkg/windows/md/k8s/index.md
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/A.md
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/B.md
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/index.md
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/k8s/Deployment.md
  pkg/tools/gen/testdata/doc/reimport/unixlike/md/k8s/index.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/A.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/B.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/index.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/k8s/Deployment.md
  pkg/tools/gen/testdata/doc/reimport/windows/md/k8s/index.md
Labels: documentation, tool

#145 feat: generate kcl data from json
  pkg/tools/gen/genkcl.go
  pkg/tools/gen/genkcl_json.go
  pkg/tools/gen/genkcl_jsonschema.go
  pkg/tools/gen/genkcl_terraform.go
  pkg/tools/gen/genkcl_test.go
  pkg/tools/gen/template.go
  pkg/tools/gen/templates/kcl/data.gotmpl
  pkg/tools/gen/templates/kcl/document.gotmpl
  pkg/tools/gen/templates/kcl/header.gotmpl
  pkg/tools/gen/templates/kcl/index.gotmpl
  pkg/tools/gen/templates/kcl/schema.gotmpl
  pkg/tools/gen/testdata/json/expect.k
  pkg/tools/gen/testdata/json/input.json
  pkg/tools/gen/types.go
Labels: tool

#148 chore: bump kcl artifact to 0.5.6
  go.mod
  go.sum
  scripts/kclvm.go
Labels: chore
