Repository kcl-lang/kcl-go, pull requests merged in 2024-01, with the labels that each got.

#208 feat: parser API
  bench_test.go
  example_test.go
  go.mod
  go.sum
  kclvm_test.go
  kclvm_version.go
  pkg/kcl/api.go
  pkg/kcl/api_test.go
  pkg/kcl/opt.go
  pkg/kcl/opt_test.go
  pkg/kcl/testing_test.go
  pkg/kcl/utils.go
  pkg/kclvm_runtime/builtin_service_client.go
  pkg/kclvm_runtime/init.go
  pkg/kclvm_runtime/kclvm.go
  pkg/kclvm_runtime/proc.go
  pkg/kclvm_runtime/runtime.go
  pkg/logger/example_test.go
  pkg/logger/logger.go
  pkg/parser/parser.go
  pkg/parser/parser_test.go
  pkg/service/client_builtin_service.go
  pkg/service/client_kclvm_service.go
  pkg/service/grpc_server.go
  pkg/service/http_post.go
  pkg/service/kcl_error.go
  pkg/service/kclvm_service.go
  pkg/service/rest_server.go
  pkg/service/rest_server_test.go
  pkg/service/testmain_test.go
  pkg/settings/a_test.go
  pkg/settings/utils_settings_yaml.go
  pkg/spec/gpyrpc/gpyrpc.pb.go
  pkg/spec/gpyrpc/gpyrpc.pb.protorpc.go
  pkg/spec/gpyrpc/gpyrpc.proto
  pkg/tools/lint/lint.go
  pkg/tools/lint/lint_test.go
  pkg/tools/list/dep_parser.go
  pkg/tools/list/dep_parser_helper_test.go
  pkg/tools/list/dep_parser_test.go
  pkg/tools/list/import_dep_parser.go
  pkg/tools/list/list_test.go
  pkg/tools/list/pkg_info.go
  pkg/tools/list/single_app_dep_parser.go
  pkg/tools/override/override.go
  pkg/tools/override/override_test.go
  pkg/tools/validate/validate_test.go
  pkg/utils/assert.go
  pkg/utils/pkg_path_test.go
  pkg/utils/utils.go
  scripts/kclvm.go
  scripts/util_unzip.go
  testdata/external/external_1/kcl.mod
  testdata/external/external_1/main.k
  testdata/external/external_2/kcl.mod
  testdata/external/external_2/main.k
  testdata/import_builtin/entry/main.k
  testdata/import_builtin/kcl.mod
  testdata/import_builtin/sub/main.k
Labels: api, parser

#209 feat: impl kcl config generation and add indent block for JSON/YAML inputs
  pkg/tools/gen/genkcl_json.go
  pkg/tools/gen/genkcl_yaml.go
  pkg/tools/gen/template.go
  pkg/tools/gen/templates/kcl/config.gotmpl
  pkg/tools/gen/templates/kcl/index.gotmpl
  pkg/tools/gen/testdata/json/expect.k
  pkg/tools/gen/testdata/yaml/basic/expect.k
  pkg/tools/gen/testdata/yaml/goreleaser/expect.k
  pkg/tools/gen/testdata/yaml/identifier/expect.k
  pkg/tools/gen/testdata/yaml/k8s-configmap/expect.k
  pkg/tools/gen/testdata/yaml/k8s-deployment/expect.k
  pkg/tools/gen/testdata/yaml/list/expect.k
  pkg/tools/gen/testdata/yaml/workflow/expect.k
  pkg/tools/gen/types.go
Labels: gen, tool

#213 refactor: enhance kcl file generation with imports and JSON/YAML data
  pkg/tools/gen/genkcl_jsonschema.go
  pkg/tools/gen/genkcl_terraform.go
  pkg/tools/gen/genkcl_test.go
  pkg/tools/gen/genkcl_yaml.go
  pkg/tools/gen/templates/kcl/config.gotmpl
  pkg/tools/gen/templates/kcl/header.gotmpl
  pkg/tools/gen/types.go
Labels: refactor, gen, tool

#216 feat: support more keywords and improve conversion results for complex json schema
  pkg/3rdparty/jsonschema/draft2019_09_keywords.go
  pkg/3rdparty/jsonschema/keywords_core.go
  pkg/3rdparty/jsonschema/keywords_object.go
  pkg/tools/gen/genkcl_jsonschema.go
  pkg/tools/gen/template.go
  pkg/tools/gen/templates/kcl/schema.gotmpl
  pkg/tools/gen/testdata/jsonschema/allof/expect.k
  pkg/tools/gen/testdata/jsonschema/allof/input.json
  pkg/tools/gen/testdata/jsonschema/complex-workflow/expect.k
  pkg/tools/gen/testdata/jsonschema/complex-workflow/input.json
  pkg/tools/gen/testdata/jsonschema/oneof/expect.k
  pkg/tools/gen/testdata/jsonschema/oneof/input.json
  pkg/tools/gen/testdata/jsonschema/pattern-props/expect.k
  pkg/tools/gen/testdata/jsonschema/pattern-props/input.json
  pkg/tools/gen/testdata/jsonschema/ref/expect.k
  pkg/tools/gen/testdata/jsonschema/unsupport-multi-pattern-props/expect.k
  pkg/tools/gen/testdata/jsonschema/unsupport-multi-pattern-props/input.json
  pkg/tools/gen/testdata/jsonschema/unsupport/expect.k
  pkg/tools/gen/types.go
Labels: gen, tool

#217 feat: support file config to render code
  pkg/tools/gen/genkcl.go
  pkg/tools/gen/genkcl_jsonschema.go
  pkg/tools/gen/genkcl_test.go
  pkg/tools/gen/template.go
  pkg/tools/gen/templates/kcl/data.gotmpl
Labels: gen, tool

#218 feat: doc gen html escape for default value
  pkg/tools/gen/templates/doc/schemaDoc.gotmpl
  pkg/tools/gen/testdata/doc/pkg/container.k
  pkg/tools/gen/testdata/doc/pkg/md/main.md
  pkg/tools/gen/testdata/doc/pkg/server.k
Labels: gen, tool

#219 chore: add more kcl abi versions 0.7.x
  scripts/kclvm.go
Labels: chore
